.App {
  text-align: center;
}

@import url("https://fonts.googleapis.com/css2?family=Bungee&display=swap");

.bg {
  background-image: url(images/everlooHomePage.jpg);

  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.App-link {
  color: #61dafb;
}
